.cities {
    &__container {
        width: 100%;
        height: 100%;
        justify-self: stretch;
        align-self: stretch;
        padding: 50px;
    }

    &__grid {
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-size: 30px;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-weight: 300;
        a {
            color: black;
            &:hover {
                color: #c44400;
            }
        }
    }
    &__temp {
        font-size: 30px;
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-weight: 300;
        &:after {
            content: "\00B0";
        }
    }
}
