.app {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: auto;
    min-width: 320px;
    min-height: 300px;
    max-width: 500px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
}
