.spinner {
    color: #ccc;
}

.app__top-container .spinner,
.app__full-container--grad .spinner {
    color: #fff;
}

.app__bottom-container .spinner {
    color: #ccc;
}

.spinner__container {
    align-self: center;
    justify-self: center;
    margin: auto;
}
