.current-weather {
    font-family: Rotobo, Arial, Helvetica, sans-serif;

    &__container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 10px 60px;
        min-width: 360px;
        min-height: 360px;
        justify-content: space-between;
        align-items: stretch;
    }

    &__spinner-container {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__date {
        color: white;
        font-size: 1em;
        margin: 6px 6px 6px 6px;
    }

    &__city {
        color: white;
        font-size: 1em;
        margin: 0px 0px 10px 0px;
        i {
            margin-right: 4px;
        }
    }

    &__container-inner {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    &__tempgroup {
        margin: -5px 30px 30px 30px;
        position: relative;
        left: 15px;
        display: flex;
        align-items: flex-end;
        justify-items: start;
    }

    &__type-container {
        display: flex;
        align-items: center;
    }

    &__type-img {
        width: 90px;
        height: 90px;
    }

    &__type-desc {
        color: white;
        font-size: 30px;
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-weight: 300;
    }

    &__temp-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__temp {
        font-size: 140px;
        color: white;
        font-weight: 300;
        font-family: Lato, Arial, Helvetica, sans-serif;
        margin: -15px 20px -15px 0px;

        &:after {
            content: "\00B0";
            font-size: 40px;
            vertical-align: top;
            position: relative;
            top: 25px;
        }
    }

    &__hilo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }

    &__hilo-element {
        position: relative;
        display: flex;
        align-items: center;
        padding: 4px 0px;

        &:last-child:after {
            content: "";
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: solid 1px #fff;
        }
    }

    &__hilo-icon {
        font-size: 12px;
    }

    &__hilo-temp {
        margin-left: 4px;
        font-size: 24px;
        font-weight: 400;
        font-family: Lato, Arial, Helvetica, sans-serif;
        &:after {
            content: "\00B0";
        }
    }

    &__info-container {
        margin-left:auto;
    }

    &__info {
        margin-left: 20px;
        position: relative;
        bottom: 7px;
        display: grid;
        color: #fff;
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 20px;
        grid-template-columns: auto 40px;
        justify-items: start;
        column-gap: 4px;
    }
    
    &__info-label {
        justify-self: end;
    }

    &__more-button {
        margin: 40px 0px 15px 0px;
        width: 200px;
        align-self: center;
    }

}
