$themes: (
    hot: (
        bg1: rgba(255, 173, 49, 1),
        bg2: rgba(255, 115, 28, 1),
    ),
    cold: (
        bg1: rgba(0, 245, 255, 1),
        bg2: rgba(0, 147, 194, 1),
    ),
);